{% extends 'base.html' %}

{% block content %}
{% if name == game.codemaster_red or name == game.codemaster_blue %}
{% set codemaster = True %}
{% else %}
{% set codemaster = False %}
{% endif %}

<div>
    {% if name == game.codemaster_red or name in game.red_team %}
    <p>You are in the red team! </p>
    <p> Your codemaster is {{game.codemaster_red}}</p>
    <p> Your team is {{**game.red_team}}</p>
    {% else %}
    <p>You are in the blue team!</p>
    <p> Your codemaster is {{game.codemaster_blue}}</p>
    <p> Your team is {{game.blue_team}}</p>
    {% endif %}
    </p>
</div>
<p></p>
<div>
<table>
    {% for row in game.board %}
    <tr>
        {% for col in game.board %}
        <td> {{self.board[row][col]}} </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
