{% extends 'base.html' %}

{% block content %}
{% if user.name == game.codemaster_red.name or user.name == game.codemaster_blue.name %}
    {% set codemaster = True %}
{% else %}
    {% set codemaster = False %}
{% endif %}

<div>
    <table>
        <tr>
            <td> Red team </td>
            <td> Blue team</td>
        </tr>
        <tr>
            <td>Codemaster {{game.codemaster_red.name}}</td>
            <td>Codemaster {{game.codemaster_blue.name}}</td>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for p in game.get_all_players() %}
                        {% if (p.team == 'r') and not p.codemaster %}
                            <li>
                                {{p.name}}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for p in game.get_all_players() %}
                        {% if (p.team == 'b') and not p.codemaster %}
                            <li>
                                {{p.name}}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </td>
        </tr>

<div>
<table>
    <tr>
    {% for i in range(25) %}
        {% set card_id = game.cards_selected[i] %}
        {% set filename = "media/pic" +  card_id | string  + ".png" %}
        {% set link = url_for('static', filename=filename) %}
        {% if (i > 0) and (i % 5 == 0) %}
            </tr><tr>
        {% endif %}
        <td> {% if i in game.revealed %}
            revealed
            {% else %}
                <img src="{{link}}" width="100">
            {% endif %}
        </td>
    {% endfor %}
    </tr>
</table>
</div>
{% endblock %}
